<div style="overflow: auto; opacity: 0.8;">
    <div class="mat-elevation-z8 bg-light">
        <br />
        <mat-form-field appearance="outline" style="margin-left: 1%;">
            <mat-label>Search</mat-label>
            <input matInput matTooltip="Search for your desired student" 
                type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search here..">        
        </mat-form-field>
        <!-- <div style="float: right; margin-right: 1%;">
            <mat-form-field appearance="outline">
                <mat-label for="lang">Select Language</mat-label>
                <mat-select id="lang" matInput [formControl]="lang" type="text">
                    <mat-option value="en">English</mat-option>
                    <mat-option value="es">Spanish</mat-option>
                    <mat-option value="ar">Arabic</mat-option>
                    <mat-option value="de">German</mat-option>
                </mat-select>
            </mat-form-field>&nbsp;&nbsp;
            <button mat-raised-button color="primary">Convert</button>
        </div> -->
        <br />
        <mat-table [dataSource]="student" style="margin-left: 1%; margin-right: 1%;" matSort>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <ng-container matColumnDef="StudentID">
                <mat-header-cell *matHeaderCellDef style="margin-left: 1%; font-weight: bolder;" hidden>
                    StudentID
                </mat-header-cell>
                <mat-header-cell *matCellDef="let element" style="margin-left: 1%;" hidden>
                    {{ element.$key }}
                </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="FirstName">
                <mat-header-cell *matHeaderCellDef style="margin-left: 2%; font-weight: bolder;">
                    FirstName
                </mat-header-cell>
                <mat-header-cell *matCellDef="let element" style="margin-left: 2%;">
                    {{ element.firstName }}
                </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="LastName">
                <mat-header-cell *matHeaderCellDef style="font-weight: bolder; margin-left: 3px;">
                    LastName
                </mat-header-cell>
                <mat-header-cell *matCellDef="let element" style="margin-left: 0.5%;">
                    {{ element.lastName }}
                </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="EnrollmentNo.">
                <mat-header-cell *matHeaderCellDef style="font-weight: bolder;">
                    EnrollmentNo.
                </mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{ element.enrollmentId }}</mat-header-cell>
            </ng-container>
 
            <ng-container matColumnDef="CollegeName">
                <mat-header-cell *matHeaderCellDef style="font-weight: bolder;">
                    CollegeName
                </mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{ element.collegeName }}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="Branch">
                <mat-header-cell *matHeaderCellDef style="font-weight: bolder;">
                    Branch
                </mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{ element.branch }}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="Semester">
                <mat-header-cell *matHeaderCellDef style="margin-right: 0px; font-weight: bolder;">
                    Semester
                </mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{ element.semester }}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef style="margin-left: 56px; font-weight: bolder;">
                    Options
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Want to edit this student?" (click)="navigateToEditStudent(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" matTooltip="Want to delete this student?" 
                        (click)="deleteStudent(row)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
        </mat-table>
        <mat-paginator [pageSize]="4" [pageSizeOptions]="pageSizeOptions" style="margin-left: 1%; margin-right: 1%;">
        </mat-paginator>
    </div>
</div>